.project-form {
  &__screenshots {
    width: fit-content;
  }

  &__screenshots-checkbox {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .form-floating > &__textarea {
    height: 150px;
  }
}
