@use './functions' as f;

$utilities: (
  'max-width': (
    property: max-width,
    class: mw,
    values:
      map-merge(
        f.map-deep-get($utilities, 'max-width', 'values'),
        (
          700: 700px,
        )
      ),
  ),
);
